
/* ========== RUSEABLE COMPONENTS ========= */

.justify-text {
    text-align: justify
}


.responsive {
    width: 100%;
    height: auto;
}

h6 {
    text-transform: uppercase;
    font-size: 70%;
    padding: 20px 0;
    text-align: center;
  
}

.uppercase {
    text-transform: uppercase;
}

.noliststyle li {
    list-style-type: none;
}

.center-text {
    text-align: center;
}

.text-right {
    text-align: end;
}

.pull-right {
    float: right;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* * {
    outline: none;
}*/


button:focus {outline:0;}

.red {
    color: #c82333;
}

.error, input[type=email].error, input[type=number].error, input[type=password].error, input[type=search].error, input[type=tel].error, input[type=text].error, input[type=url].error, textarea.error {
    background-color: #f1d6d6;
    box-shadow: inset 0 0 1px #bd7171;
}

/* RULES */
.num-labels {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    background-color: #64a19d;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
    padding: .375rem .75rem;
    color: #fff;
    line-height: 1.5;
    border-radius: .25rem;
}

.rules-list {
    line-height: 2.3rem;
    font-size: 120%;
}

.rules {
    text-transform: uppercase;
    font-weight: 700;
    padding-right: 15px;
}