
/* ========== RUSEABLE COMPONENTS ========= */

.justify-text {
    text-align: justify
}


.responsive {
    width: 100%;
    height: auto;
}

h6 {
    text-transform: uppercase;
    font-size: 70%;
    padding: 20px 0;
    text-align: center;
  
}

.uppercase {
    text-transform: uppercase;
}

.noliststyle li {
    list-style-type: none;
}

.center-text {
    text-align: center;
}

.margin-auto {
    margin: 0 auto;
}

.text-right {
    text-align: end;
}

.pull-right {
    float: right;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* * {
    outline: none;
}*/


button:focus {outline:0;}

.red {
    color: #c82333;
}

.error, input[type=email].error, input[type=number].error, input[type=password].error, input[type=search].error, input[type=tel].error, input[type=text].error, input[type=url].error, textarea.error {
    background-color: #f1d6d6;
    box-shadow: inset 0 0 1px #bd7171;
}

/* RULES */
.num-labels {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    background-color: #64a19d;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
    padding: .375rem .75rem;
    color: #fff;
    line-height: 1.5;
    border-radius: .25rem;
}

.rules-list {
    padding: 0;
    line-height: 2.3rem;
    font-size: 120%;
}

.rules-list li {
    padding-bottom: 20px;
}

.rules {
    text-transform: uppercase;
    font-weight: 700;
    padding-right: 15px;
}

.rules-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#about {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: url("../img/movie.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.movie-container {
    max-width: 600px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.text-150 {
    font-size: 150%;
}

.dash-labels {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    background-color: #64a19d;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
    padding: .1rem .3rem;
    color: #fff;
    line-height: 1.5;
    border-radius: .25rem;
}


@media (max-width: 576px)  {
    /* .rules-container {
        max-width: 540px;
    } */
    .rule-items {
        display: block;
        padding-left: 40px;
        font-size: 95%;
        text-align: left;;
    }
}

@media (min-width: 768px) {
    .rules-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .rules-container {
        max-width: 960px;
    }
}

.img-gradient{
    position:relative;
    display:inline-block;
}
  
.img-gradient:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; 
    height:100%;
    display:inline-block;    
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%); 
}

.img-gradient img{
    display:block;
}

#popcorn-img { 
    background-image:
    url("../img/popcorn.jpg");
    margin:0 auto;
    width: 80%;
    min-height: 200px;
    background-size: cover;
}

#end-img { 
    background-image:
    linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%),
    url("../img/end.jpg");
    margin:0 auto;
    width: 80%;
    min-height: 200px;
    background-size: cover;
}

#detailsForm {
    width: 100%;
}

